* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Norse';
    src: url('/fonts/Norse-Bold.otf');
}

body {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-size: 1.5rem;
}

/* Utility */
.flex {
    display: flex;
}

.center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}



/* FORM */
#form-left {
    background-image: url('/img/leaves.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#form-left span {
    font-weight: 200;
    color: #fff;
    display: block;
    text-align: center;
}
#form-right {
    background-color: #F3F3F3;
}

.logo {
    color: #fff;
    text-transform: uppercase;
    margin-top: 15rem;
    padding: 1rem 12rem;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Norse', sans-serif;
    font-size: 3rem;
}
.logo img {
    max-width: 7rem;
}

.form-header {
    padding-top: 12rem;
    padding-bottom: 5rem;
    padding-left: 2rem;
}


/* FORM */
.form {
    background-color: #fff;
    padding: 1rem 0 1rem 2rem;
    box-shadow: -1px 7px 12px -7px rgba(0,0,0,0.3);
    position: relative;
}

input, label {
    display: block;
}
.form-input input {
    width: 18rem;
    padding: 0.45rem;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    font-size: 1rem;
}

.form-input input:focus {
    outline: none;
    border: 0.5px solid blue;
    box-shadow: -1px 7px 9px -7px rgba(0,0,0,0.75);
}

.form-input label {
    letter-spacing: 0.075rem;
    font-size: 0.75rem;
}
.form h3 {
    margin-bottom: 1rem;
}

form {
    display: flex;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
}
.form-input {
    margin-bottom: 1.25rem;
}

.form-submit {
    position: absolute;
    top: 100%;
    margin-top: 2rem;
}

.form-submit input {
    background-color: #596D48;
    border-radius: 10px;
    color: #fff;
    padding: 1rem 0;
    cursor: pointer;
    width: 15rem;
    outline: none;
    font-size: 1.15rem;
    border: none;
    box-shadow: -1px 7px 9px -7px rgba(0,0,0,0.75);
}

.form-submit input:focus {
    outline: none;
    border: none;
}

.cta {
    padding-left: 2rem;
    font-size: 1rem;
    margin-top: 8rem;
    font-weight: 100;
}

.cta a {
    color: #596D48;
    text-decoration: none;
}

/* Errors */
.error-msg {
    visibility: hidden;
    color: red;
    font-size: 0.75rem;
}

.error {
    border-color: red !important;
}
